<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="pt-br"
      layout:decorate="~{base}">

<head>
    <title>Nova Matrícula</title>
</head>

<body>
<section layout:fragment="conteudo">

    <h2 class="text-center text-success">Nova Matrícula</h2>

    <form th:action="@{/aluno/matriculas/salvar}" method="post" th:object="${matricula}">
        <input type="hidden" th:field="*{usuarioId}" />

        <div class="mb-3">
            <label for="curso" class="form-label fw-bold">Curso:</label>
            <select id="curso" th:field="*{cursoId}" class="form-select" required>
                <option value="" disabled selected>Selecione um curso</option>
                <option th:each="curso : ${cursos}"
                        th:value="${curso.id}"
                        th:text="${curso.nome}"></option>
            </select>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-success w-100 me-2">Salvar Matrícula</button>
            <a th:href="@{/aluno/matriculados}" class="btn btn-danger w-100 ms-2">Cancelar</a>
        </div>
    </form>

</section>
</body>
</html>
